*{
    margin: 0;
    padding:0;

}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border:3px solid white;
    border-radius: 50px;
    
}
.navbar{
    display: flex;
}

.nav-list{
    width: 50%;
    background-color: black;
    display: flex;
    align-items: center;
}

.nav-list li{
    List-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a: hover{
    color: grey;
}
.rightNav{
    background-color: black;
    width: 50%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0,0,0,0.7) url('../bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    max-width: 50%;
    margin: auto;
}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
    width: 30%;
}
.secondHalf img{
    width: 70%;
}
#login-form
{
    display:none;

}
.form-box
{
    width:300px;
    height: 400px;
    position: relative;
    top: 90px;
    left: 210px;
    background: rgba(0,0,0,0.6);
}
.main-heading
{
    color: orangered;
    padding-bottom: 20px;
}
.form{
    position: relative;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;

}
.form input{
    font-family: sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
}
.form button{
    font-family: sans-serif;
    width: 100%;
    color: orangered;
    font-size: 14px;
    cursor: pointer;
    padding: 15px;
    border: none;
    background: coral;

}
.form .asking{
    font-size: 12px;
    margin: 15px 0 0;
    color: orangered;
}
.form .asking a{
    color: orangered;
    text-decoration: none;
}
.form .register-form{
    display: none;
}
.testimonials
{
    margin: 50px auto;
}
.testimonials h1{
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;

}
.testimonials h1::after{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin:20px auto 5px;
}
/*#.testimonials .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;

}
.profile{
    padding: 10px 10px 10px;
    background-color: #efefef;
}
.profile img{
    top: -10px;
    position: absolute;
    left: calc(10%-20%);
    border: 10px solid white;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
}*/

.container{
    max-width: 1170px;
    background-color: black;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: captalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}